<?xml version="1.0"?>
<configuration>
  
  <appSettings>
    <!-- Dynamics GP Econnect -->
    <add key="Erp" value="1"/>
    <!--  1 - Dynamics GP Econnect
          2 - Dynamics GP WebServices 
          3 - Uno EE
          4 - Everest          
    -->
  </appSettings> 
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
