<?xml version="1.0" encoding="utf-8" ?>
<hibernate-configuration  xmlns="urn:nhibernate-configuration-2.2" >
	<session-factory name="WMS">
		<property name="connection.provider">NHibernate.Connection.DriverConnectionProvider</property>
		<property name="connection.driver_class">NHibernate.Driver.SqlClientDriver</property>
		<property name="dialect">NHibernate.Dialect.MsSql2005Dialect</property>
		<!--<property name="connection.connection_string">Data Source=192.168.168.10;Initial Catalog=WMS30;User Id=wms30;Password=20wms89;MultipleActiveResultSets=true</property>-->
		<!--<property name="connection.connection_string">Data Source=65.97.176.40;Initial Catalog=WMS30;User Id=wms30;Password=20wms89</property>-->
		<!--<property name="connection.connection_string">Data Source=JAMURCOX;Initial Catalog=WMS30_Image;User Id=sa;Password=2289</property>-->
		<property name="connection.connection_string">Data Source=192.168.2.6;Initial Catalog=WMS30V2;User Id=sa;Password=sa2010;MultipleActiveResultSets=true</property>
		<!--<property name="show_sql">true</property>-->
		<!-- property name="hbm2ddl.auto">create</property -->
		<mapping assembly="Integrator"/>
	</session-factory>
</hibernate-configuration>