<?xml version="1.0"?>
<configuration>

	<system.serviceModel>
		<services>
			<service behaviorConfiguration="ServerBehavior" name="WcfService.WMSProcess">

				<endpoint address="net.tcp://localhost:8082/WMS30/WMSProcess" binding="netTcpBinding" contract="WcfService.IWMSProcess" bindingConfiguration="myTcp"/>

				<endpoint address="mex" binding="mexTcpBinding" name="Metadata" contract="IMetadataExchange"/>

				<!-- <endpoint address="WMSProcess"
					 binding="wsHttpBinding" contract="WcfService.IWMSProcess"/> -->

				<host>
					<baseAddresses>
						<add baseAddress="net.tcp://localhost:9090/WMS30/"/>
						<!-- <add baseAddress="http://localhost:7070/WMS30/" /> -->
					</baseAddresses>
				</host>
			</service>
		</services>

		<bindings>
			<netTcpBinding>
				<binding name="myTcp" portSharingEnabled="true" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" closeTimeout="00:01:00" transactionFlow="false" openTimeout="00:01:00" receiveTimeout="00:30:00" sendTimeout="00:01:00" transferMode="Buffered" transactionProtocol="OleTransactions" hostNameComparisonMode="StrongWildcard" listenBacklog="10" maxConnections="100">
					<readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
					<security mode="None"/>
				</binding>
			</netTcpBinding>
		</bindings>

		<behaviors>
			<serviceBehaviors>
				<behavior name="ServerBehavior">
					<serviceMetadata/>
					<serviceDebug includeExceptionDetailInFaults="true"/>
					<serviceThrottling maxConcurrentCalls="16" maxConcurrentInstances="2147483647" maxConcurrentSessions="10"/>
					<dataContractSerializer maxItemsInObjectGraph="2147483647"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>

	</system.serviceModel>


<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
