<?xml version="1.0"?>
<configuration>


	<system.serviceModel>
		<services>
				<service behaviorConfiguration="ServerBehavior" name="WcfService.WMSProcess">

				<endpoint address="net.tcp://localhost:8082/WMS30/WMSProcess" binding="netTcpBinding" contract="WcfService.IWMSProcess" bindingConfiguration="myTcp"/>

				<endpoint address="mex" binding="mexTcpBinding" name="Metadata" contract="IMetadataExchange"/>

					<!-- <endpoint address="WMSProcess"
					 binding="wsHttpBinding" contract="WcfService.IWMSProcess"/> -->

					<host>
					<baseAddresses>
						<add baseAddress="net.tcp://localhost:9090/WMS30/"/>
					</baseAddresses>
				</host>
			</service>
			

		</services>

		<bindings>
			<netTcpBinding>
				<binding name="myTcp" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" closeTimeout="00:01:00" transactionFlow="false" openTimeout="00:01:00" receiveTimeout="00:30:00" sendTimeout="00:01:00" transferMode="Buffered" transactionProtocol="OleTransactions" hostNameComparisonMode="StrongWildcard" listenBacklog="10" maxConnections="100">
					<readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
					<security mode="None"/>
				</binding>
			</netTcpBinding>

			<basicHttpBinding>
				<binding name="myHttpBasic" maxBufferPoolSize="60000000" maxReceivedMessageSize="60000000" closeTimeout="00:59:00" openTimeout="00:59:00" receiveTimeout="00:59:00" sendTimeout="00:59:00" hostNameComparisonMode="StrongWildcard">
					<readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
				</binding>
			</basicHttpBinding>


		</bindings>

		<behaviors>
			<serviceBehaviors>
				<behavior name="ServerBehavior">
					<serviceMetadata/>
					<serviceDebug includeExceptionDetailInFaults="true"/>
					<serviceThrottling maxConcurrentCalls="16" maxConcurrentInstances="2147483647" maxConcurrentSessions="10"/>
					<dataContractSerializer maxItemsInObjectGraph="2147483647"/>
				</behavior>

			</serviceBehaviors>
		</behaviors>

	</system.serviceModel>

	<!--
	<diagnostics performanceCounters="All" wmiProviderEnabled="true" >
		<messageLogging logEntireMessage="true" logMalformedMessages="true" logMessagesAtServiceLevel="true"
						logMessagesAtTransportLevel="true" maxMessagesToLog="100000" />
	</diagnostics>
	-->


	<!--<system.diagnostics >
		<sharedListeners>
			<add name="sharedListener"
			type="System.Diagnostics.XmlWriterTraceListener"
			initializeData="c:\log\servicetrace.svclog" />
		</sharedListeners>
		<sources>
			<source name="System.ServiceModel" switchValue="Information, Verbose, ActivityTracing" >
				<listeners>
					<add name="sharedListener" />
				</listeners>
			</source>
			<source name="System.ServiceModel.MessageLogging" switchValue="Imformation, Verbose, ActivityTracing">
				<listeners>
					<add name="sharedListener" />
				</listeners>
			</source>
		</sources>
	</system.diagnostics>-->


<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
