<?xml version="1.0"?>
<configuration>

	<system.web>
		<compilation debug="true"/>
	</system.web>


	<system.serviceModel>


	<diagnostics performanceCounters="All"/>

		<behaviors>
			<serviceBehaviors>
				<behavior name="ServerBehavior">
					<serviceMetadata/>
					<serviceDebug includeExceptionDetailInFaults="true"/>
					<serviceThrottling maxConcurrentCalls="16" maxConcurrentInstances="2147483647" maxConcurrentSessions="10"/>
					<dataContractSerializer maxItemsInObjectGraph="2147483647"/>
				</behavior>

				<!--<behavior name="BasicServerBehavior">
					<serviceMetadata httpGetEnabled="true"  />
					<serviceDebug includeExceptionDetailInFaults="true"  />
					<serviceThrottling maxConcurrentCalls="16" maxConcurrentInstances="2147483647"
									   maxConcurrentSessions="10"/>
					<dataContractSerializer maxItemsInObjectGraph="2147483647" />
				</behavior>-->

			</serviceBehaviors>			
			
		</behaviors>
		
		<services>
			<service name="WcfService.WMSProcess" behaviorConfiguration="ServerBehavior">

				<host>
					<baseAddresses>
						<add baseAddress="net.tcp://localhost:9090/WMS30/"/>
					</baseAddresses>
				</host>

				<!--bindingConfiguration="default"-->

				<endpoint address="" binding="netTcpBinding" bindingConfiguration="myTcp" contract="WcfService.IWMSProcess"/>

				<endpoint address="mex" binding="netTcpBinding" bindingConfiguration="myTcp" contract="IMetadataExchange"/>

			</service>

		
			
			

			<!-- Service for Device -->
			<!--<service name="WcfService.WMSDeviceProcess" behaviorConfiguration="BasicServerBehavior">

				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:7070/WMS30/" />
					</baseAddresses>
				</host>

				<endpoint address="" binding="basicHttpBinding" bindingConfiguration="myHttpBasic" contract="WcfService.IWMSDeviceProcess" />
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />

			</service>-->	
			<!-- Service For Device -->
			
		</services>

		<bindings>
			<netTcpBinding>
      <!--  portSharingEnabled="true"-->
				<binding name="myTcp" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" closeTimeout="00:05:00" transactionFlow="false" openTimeout="00:05:00" receiveTimeout="00:30:00" sendTimeout="00:05:00" transferMode="Buffered" transactionProtocol="OleTransactions" hostNameComparisonMode="StrongWildcard" listenBacklog="10" maxConnections="100">
					<readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
					<security mode="None"/>
				</binding>
			</netTcpBinding>


			<basicHttpBinding>
				<binding name="myHttpBasic" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" closeTimeout="00:59:00" openTimeout="00:59:00" receiveTimeout="00:59:00" sendTimeout="00:59:00" hostNameComparisonMode="StrongWildcard">
					<readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
				</binding>
			</basicHttpBinding>			
			
			
		</bindings>
	</system.serviceModel>

	<!--<system.diagnostics>
		<sources>
			<source name="System.ServiceModel"
						  switchValue="Information, ActivityTracing"
						  propagateActivity="true" >
				<listeners>
					<add name="traceListener"
				type="System.Diagnostics.XmlWriterTraceListener"
				initializeData="c:\log\ServerTraces.svclog"  />
				</listeners>
			</source>
		</sources>
	</system.diagnostics>-->
	
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
