<?xml version="1.0"?>
<configuration>

	<!--<runtime>
		<bypassTrustedAppStrongNames enabled="true" />
	</runtime>-->


	<!--<system.diagnostics>
    <sources>
      <source name="System.ServiceModel"
                    switchValue="Information, ActivityTracing"
                    propagateActivity="true" >
        <listeners>
          <add name="traceListener"
      type="System.Diagnostics.XmlWriterTraceListener"
      initializeData="c:\log\ClientTraces.svclog"  />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>--> 


  <system.serviceModel>
	  <!--
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBinding_IWMSService" closeTimeout="00:10:00"
          openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00"
          transactionFlow="true" transferMode="Buffered" transactionProtocol="OleTransactions"
          hostNameComparisonMode="StrongWildcard" listenBacklog="10" maxBufferPoolSize="67108864"
          maxBufferSize="67108864" maxConnections="100" maxReceivedMessageSize="67108864">
			<readerQuotas maxDepth="32" maxStringContentLength="67108864" maxArrayLength="67108864"
			  maxBytesPerRead="9000" maxNameTableCharCount="67108864" />
			<reliableSession ordered="true" inactivityTimeout="00:30:00" enabled="true" />
			<security mode="None" />
		</binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://localhost:7072/WMS30/WMSService"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IWMSService"
        contract="WcfService.IWMSService" name="NetTcp" />
    </client>
	  -->
	  

	  <behaviors>
		  <endpointBehaviors>
			  <behavior name="Graph">
				  <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
			  </behavior>
		  </endpointBehaviors>
	  </behaviors>


	  <bindings>
    <netTcpBinding>
     <binding name="NetTcpBinding_IWMSProcess" closeTimeout="00:05:00"
      openTimeout="00:05:00" receiveTimeout="00:05:00" sendTimeout="00:05:00"
      transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions"
      hostNameComparisonMode="StrongWildcard" listenBacklog="10" maxBufferPoolSize="2147483647"
      maxBufferSize="2147483647" maxConnections="100" maxReceivedMessageSize="2147483647"
      portSharingEnabled="true">
      <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
       maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
      <security mode="None" />
     </binding>
    </netTcpBinding>
    <wsHttpBinding>
     <binding name="WSHttpBinding_IWMSProcess" />
    </wsHttpBinding>
   </bindings>

	  
    <!--<client>
		<endpoint address="net.tcp://65.97.176.37:8082/WMS30/WMSProcess"  behaviorConfiguration="Graph"
		   binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IWMSProcess"
		   contract="WMSBusinessService.IWMSProcess" name="NetTcp" />
    </client>-->
	

	  <client>
    <endpoint address="net.tcp://localhost:9090/WMS30" behaviorConfiguration="Graph"
     binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IWMSProcess"
     contract="WMSBusinessService.IWMSProcess" name="NetTcp" />
   
   </client>
	  
  </system.serviceModel>

	
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
